<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Подключаем шрифты -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  </head>
  <body>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/functions.js"></script>

    <%- include("partials/_header.ejs") %>

    <main id="content">
      <div class="container">
        <h1>Главная</h1>
      </div>
      <div id="mainpagecontent">
        <div class="container">
          <div class="row">
            <div class="company-info col-lg-5">
              <p class="h1">Палатки для кемпинга и экспедиций</p>
            </div>

            <div class="company-info col-lg-7">
              <a href="catalog"> <p class="h1">Перейти к каталогу</p> </a>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-11">
              <img src="img/indeximage.jpg" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </main>


  <%- include("partials/_footer.ejs") %>

  </body>
</html>
