{% extends 'mainApp/wrapper.html' %}
{% load static %}

{% block title %}Страница не существует{% endblock %}

{% block content %}

<main id="content">
    <div class="container">
        <h3>Запрашиваемая страница не найдена!</h3>
    </div>
    <div id="mainpagecontent">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <p class="h1">Ошибка 404!</p>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}
