{% extends 'mainApp/wrapper.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block content %}

<main id="content">
    <div class="container">
        <h1> Каталог</h1>

        <div class="row">
            <div class="filters__filter">
                <div class="filters__filter-label">Бренд:</div>
                <select class="selectpicker" title="" multiple name="" id="filter_brand">
                    {% for brand in brands %}
                    <option class="filter-option" value="{{ brand.PK_Brand }}">{{ brand.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filters__filter">
                <div class="filters__filter-label">Категория:</div>
                <select class="selectpicker" title="" multiple name="" id="filter_category">
                    {% for category in categories %}
                    <option class="filter-option" value="{{ category.PK_Category }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class=" filters__filter">
                <div class="filters__filter-label">Сортировать:</div>
                <select class="selectpicker" title="" name="" id="filter_price">
                    <option class="filter-option" value="default_none"></option>
                    <option class="filter-option" value="ascending_price">по возрастанию цены</option>
                    <option class="filter-option" value="descending_price">по убыванию цены</option>
                </select>
            </div>
        </div>


        <div class="row" id="container-tents">

            {% for singleTent in tents %}

            <div class="col-lg-3 col-md-6 my-2">
                <div class="card single-item h-100">
                    <a href="{{ singleTent.get_url }}">

                        {% if singleTent.imagepath.url == "/False" %}
                        <img src="{% static 'img/empty.png' %}" class="card-img-top" alt="Отсутствует изображение">
                        {% elif singleTent.imagepath %}
                        <img src="{{singleTent.imagepath.url}}" class="card-img-top" alt="{{ singleTent.PK_Tent }}">
                        {% else %}
                        <img src="{% static 'img/empty.png' %}" class="card-img-top" alt="Отсутствует изображение">
                        {% endif %}

                        <div class="card-body">
                            <h5>Палатка {{ singleTent.name}}</h5>
                            <h6>Бренд: {{ singleTent.PK_Brand.name}}</h6>
                            <h6>Категория: {{ singleTent.PK_Category.name}}</h6>
                            <p>Цена: {{ singleTent.price }} руб.</p>
                            <p>Кол-во мест: {{ singleTent.places }}</p>
                            <p>Вес: {{ singleTent.weight }} кг</p>
                            <p>Кол-во входов: {{ singleTent.doors }}</p>
                            <p>Кол-во окон: {{ singleTent.windows }}</p>
                        </div>
                    </a>
                </div>
            </div>

            {% endfor %}


        </div>

    </div>
</main>

{% endblock %}
