{% extends 'mainApp/wrapper.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}

<main id="content">
    <div class="container">
        <h1>Главная</h1>
    </div>
    <div id="mainpagecontent">
        <div class="container">
            <div class="row">
                <div class="company-info col-lg-5">
                    <p class="h1">Палатки для кемпинга и экспедиций</p>
                </div>

                <div class="company-info col-lg-7">
                    <a href="{% url 'catalog' %}"> <p class="h1">Перейти к каталогу</p> </a>
                </div>
                <div class="row">
                    <div class="col-lg-11">
                        <img src="{% static 'img/indeximage.jpg'%}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
